<footer class="text-white" style="width: 100%; padding-top: 10px; padding-bottom: 10px; position:fixed; bottom: 0px; background-color: #000;">

        <p class="ml-5">{{ nombre }} - &copy; {{ year }}</p>

    </footer>